#
# Copyright (c) 2019-2020 P3TERX <https://p3terx.com>
#
# This is free software, licensed under the MIT License.
# See /LICENSE for more information.
#
# https://github.com/P3TERX/Actions-OpenWrt
# Description: Build OpenWrt using GitHub Actions
#

name: Build x86 Openwrt with Kernel 6.12

on:
  schedule:
    - cron: 0 10 * * *
  repository_dispatch:
  workflow_dispatch:
    inputs:
      firewall:
        description: 'WAN口启用防火墙'
        required: false
        default: 'true'
        type: choice
        options:
          - 'false'
          - 'true'
      lan-ip:
        description: 'LAN口IP'
        required: false
        default: ''
      wan-eth:
        description: 'WAN接口'
        required: false
        default: 'eth0'
        type: choice
        options:
          - 'eth0'
          - 'eth1'
          - 'eth2'
          - 'eth3'
          - 'eth4'
          - 'eth5'
      ttyd-port:
        description: '网页终端监听端口'
        required: false
        default: '7681'
      openclash-port:
        description: 'OpenClash管理端口'
        required: false
        default: '9090'
#      wan-ip:
#        description: 'WAN口IP'
#        required: false
#        default: ''
#      wan-netmask:
#        description: 'WAN口掩码'
#        required: false
#        default: ''
#      wan-gateway:
#        description: 'WAN口网关'
#        required: false
#        default: ''
      npc-protocol:
        description: 'NPS服务端通信协议'
        required: false
        default: 'tcp'
        type: choice
        options:
          - 'tcp'
          - 'kcp'
      npc-server:
        description: 'NPS服务端地址'
        required: false
        default: ''
      npc-port:
        description: 'NPS服务端端口'
        required: false
        default: ''
      npc-vkey:
        description: 'NPS服务端密钥'
        required: false
        default: ''
env:
  REPO_URL: https://github.com/namiltd/openwrt.git
  REPO_BRANCH: 6.12
  RELEASE_PREFIX: Openwrt
  FEEDS_CONF: feeds.conf
  CONFIG_FILE: x86.config
  DIY_P1_SH: x86-part1.sh
  DIY_P2_SH: x86-part2.sh
  DISTFEEDS: distfeeds.conf
  UPLOAD_BIN_DIR: true
  UPLOAD_FIRMWARE: true
  UPLOAD_RELEASE: true
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: 检出项目代码
        uses: actions/checkout@main

      - name: 初始化工作环境
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          sudo rm -rf /etc/apt/sources.list.d/* /usr/share/dotnet /usr/local/lib/android /opt/ghc
          sudo -E apt -qq update -y
          sudo -E apt -qq full-upgrade -y
          sudo -E apt -qq install -y build-essential clang flex bison g++ gawk gcc-multilib g++-multilib gettext git libncurses5-dev libssl-dev python3-distutils python3-setuptools rsync swig unzip zlib1g-dev file wget curl
          sudo -E apt -qq autoremove --purge
          sudo -E apt -qq clean
          sudo timedatectl set-timezone "$TZ"
          sudo mkdir -p /workdir
          sudo chown $USER:$GROUPS /workdir
          
      - name: 释放磁盘空间
        uses: jlumbroso/free-disk-space@main
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but frees about 6 GB
          tool-cache: true
          # all of these default to true, but feel free to set to
          # "false" if necessary for your workflow
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          swap-storage: true

      - name: 克隆 Openwrt 源码
        working-directory: /workdir
        run: |
          df -hT $PWD
          echo Start cloning...
          git clone $REPO_URL -b $REPO_BRANCH openwrt
          ln -sf /workdir/openwrt $GITHUB_WORKSPACE/openwrt
          cat /workdir/openwrt/target/linux/x86/Makefile
          echo Clone finished.

      - name: 载入自定义 Feeds
        run: |
          echo Start loading customize feeds...
          [ -e $FEEDS_CONF ] && mv $FEEDS_CONF openwrt/feeds.conf.default
          echo Load customize feeds finished.

      - name: 更新 Feeds
        run: |
          echo Start updating feeds...
          cd openwrt
          ./scripts/feeds update -a
          echo Update feeds finished.

      - name: 安装 Feeds
        run: |
          echo Start installing feeds...
          cd openwrt
          ./scripts/feeds install -a
          echo Install feeds finished.
        
      - name: 执行自定义脚本1
        run: |
          echo Start executing script...
          chmod +x $DIY_P1_SH
          cd openwrt 
          $GITHUB_WORKSPACE/$DIY_P1_SH
          echo Execute script finished.

      - name: 载入自定义配置
        run: |
          echo Start loading config...
          [ -e files ] && mv files openwrt/files
          [ -e $CONFIG_FILE ] && mv $CONFIG_FILE openwrt/.config
          sed -i '$a CONFIG_TESTING_KERNEL=y' openwrt/.config
          echo Load config finished.

      - name: 设置初次启动脚本可执行权限
        run: |
          echo Start authorizing script...
          [ -e openwrt/files/etc/uci-defaults ] && chmod +x -R openwrt/files/etc/uci-defaults/
          [ -e openwrt/files/etc/uci-defaults ] && ls -l openwrt/files/etc/uci-defaults/
          echo Authorize script finished.

      - name: 运行自定义脚本2
        env:
          ENABLE_FIREWALL: ${{github.event.inputs.firewall}}
          LAN_IP: ${{github.event.inputs.lan-ip}}
          WAN_IP: ${{github.event.inputs.wan-ip}}
          WAN_NETMASK: ${{github.event.inputs.wan-netmask}}
          WAN_GATEWAY: ${{github.event.inputs.wan-gateway}}
          WAN_ETH: ${{github.event.inputs.wan-eth}}
          NPC_PROTOCOL: ${{github.event.inputs.npc-protocol}}
          NPC_SERVER: ${{github.event.inputs.npc-server}}
          NPC_PORT: ${{github.event.inputs.npc-port}}
          NPC_VKEY: ${{github.event.inputs.npc-vkey}}
          TTYD_PORT: ${{github.event.inputs.ttyd-port}}
          OPENCLASH_PORT: ${{github.event.inputs.openclash-port}}
        run: |
          echo Start executing script...
          chmod +x $DIY_P2_SH
          cd openwrt
          $GITHUB_WORKSPACE/$DIY_P2_SH
          echo Execute script finished.

      - name: 下载所需文件
        id: package
        run: |
          cd openwrt
          echo Start downloading...
          make defconfig
          make download -j$(nproc)
          echo Download finished.

      - name: 编译固件
        id: compile
        run: |
          cd openwrt
          echo Start compiling...
          echo -e "$(nproc) thread compile"
          make -j$(nproc) || make -j1 || make -j1 V=s
          echo "status=success" >> $GITHUB_OUTPUT
          grep '^CONFIG_TARGET.*DEVICE.*=y' .config | sed -r 's/.*DEVICE_(.*)=y/\1/' > DEVICE_NAME
          [ -s DEVICE_NAME ] && echo "DEVICE_NAME=_$(cat DEVICE_NAME)" >> $GITHUB_ENV
          echo "FILE_DATE=_$(date +"%Y%m%d%H%M")" >> $GITHUB_ENV
          echo Compile finished.

      - name: 检查使用空间
        if: (!cancelled())
        run: df -hT

      - name: 上传 Bin 目录
        uses: actions/upload-artifact@main
        if: steps.compile.outputs.status == 'success' && env.UPLOAD_BIN_DIR == 'true'
        with:
          name: Openwrt_bin${{ env.DEVICE_NAME }}${{ env.FILE_DATE }}
          path: openwrt/bin

      - name: 清理多余文件
        id: organize
        if: env.UPLOAD_FIRMWARE == 'true' && !cancelled()
        run: |
          cd openwrt/bin/targets/*/*
          rm -rf packages
          echo "FIRMWARE=$PWD" >> $GITHUB_ENV
          echo "status=success" >> $GITHUB_OUTPUT

      - name: 上传固件目录
        uses: actions/upload-artifact@main
        if: steps.organize.outputs.status == 'success' && !cancelled()
        with:
          name: Openwrt_firmware${{ env.DEVICE_NAME }}${{ env.FILE_DATE }}
          path: ${{ env.FIRMWARE }}
